html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

.body {
  font-family: 'Lato', sans-serif; }

.container {
  width: 1140px;
  margin: 0 auto; }

.header {
  background-color: #222222;
  width: 1600px;
  margin: 0 auto; }
  .header .header__container {
    min-height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header .header__search {
    margin: 10px 0 0 41px; }
  .header .header__button {
    background-color: transparent;
    border: none; }
    .header .header__button:hover, .header .header__button:focus {
      opacity: .8; }
    .header .header__button:active {
      opacity: .5; }
  .header .header__menu-list,
  .header .header__logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .header__menu-item:not(:last-of-type) {
    margin: 0 34px 0 0; }

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1600px;
  margin: 0 auto; }
  .name .name__header-span-pink {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Lato';
    line-height: 32px;
    color: #F16D7F; }
  .name .name__header-span {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Lato';
    line-height: 32px;
    color: #222222; }
  .name .name__header {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    font-family: 'Lato';
    line-height: 48px;
    text-transform: uppercase; }
  .name .name__content {
    width: 570px;
    height: 430px;
    padding: 335px 0 0 64px;
    background-color: #F1E4E6; }
  .name .name__header {
    position: relative;
    padding: 0 0 0 28px; }
    .name .name__header::before {
      position: absolute;
      content: '';
      width: 12px;
      height: 100%;
      background-color: #F16D7F;
      left: -12px; }
  .name .name__nav {
    width: 228px;
    height: 728px;
    background-color: #FFFFFF;
    padding: 37px 0 0 34px; }
    .name .name__nav .name__nav-menu {
      color: #000000;
      text-transform: uppercase;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      font-family: 'Lato';
      line-height: 17px; }
      .name .name__nav .name__nav-menu:hover {
        color: #F16D7F; }
    .name .name__nav .name__nav-list {
      padding: 14px 0 0 0; }
    .name .name__nav .name__nav-title {
      padding: 20px 0 0 0; }
    .name .name__nav .name__nav-title-link {
      color: #F16D7F;
      text-transform: uppercase;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      font-family: 'Lato';
      line-height: 17px;
      text-decoration: none; }
      .name .name__nav .name__nav-title-link:hover {
        opacity: .3; }
      .name .name__nav .name__nav-title-link:active {
        opacity: .5; }
    .name .name__nav .name__nav-submenu {
      padding: 0 0 0 21px; }
    .name .name__nav .name__nav-item {
      padding: 11px 0 0 0; }
    .name .name__nav .name__nav-item-link {
      color: #6F6E6E;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      font-family: 'Lato';
      line-height: 17px;
      text-transform: capitalize;
      text-decoration: none; }
      .name .name__nav .name__nav-item-link:hover {
        opacity: .8; }
      .name .name__nav .name__nav-item-link:active {
        opacity: .5; }

.stock__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 63px 0 0 0;
  padding: 0; }

.stock__item {
  width: 360px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .stock__item:nth-child(1) {
    background-image: url(../img/stock-women.jpg); }
  .stock__item:nth-child(2) {
    background-image: url(../img/stock-men.jpg); }
  .stock__item:nth-child(3) {
    background-image: url(../img/stock-kid.jpg); }
  .stock__item:nth-child(4) {
    background-image: url(../img/stock-goods.jpg);
    margin-top: 30px;
    width: 100%;
    height: 180px; }
  .stock__item:hover {
    -webkit-box-shadow: 0 0 5px 2px #FF6A6A;
            box-shadow: 0 0 5px 2px #FF6A6A; }
  .stock__item .stock__item-name {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Lato';
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none; }
    .stock__item .stock__item-name:hover {
      opacity: .8; }
    .stock__item .stock__item-name:active {
      opacity: .5; }
  .stock__item .stock__item-category {
    color: #F16D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Lato';
    line-height: 28px;
    text-transform: uppercase;
    text-decoration: none; }
    .stock__item .stock__item-category:hover {
      opacity: .8; }
    .stock__item .stock__item-category:active {
      opacity: .5; }

.fetured__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  font-family: 'Lato';
  line-height: 36px;
  padding-top: 97px;
  margin: 0;
  text-align: center;
  color: #222222;
  text-transform: capitalize; }
  .fetured__title:hover {
    opacity: .8;
    color: #F16D7F; }

.fetured__text {
  padding-top: 6px;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: 'Lato';
  line-height: 17px;
  text-align: center;
  color: #9F9F9F; }

.fetured__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 18px 0 0 0;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.fetured__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  width: 360px;
  height: 581px;
  font-family: 'Lato';
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F8F8F8; }
  .fetured__item:hover {
    -webkit-box-shadow: 0 0 5px 2px #FF6A6A;
            box-shadow: 0 0 5px 2px #FF6A6A; }
  .fetured__item > a:nth-child(1) {
    position: relative;
    display: block; }
  .fetured__item > a:nth-child(1):before {
    display: none;
    content: '';
    position: absolute;
    width: 360px;
    height: 420px;
    top: 0;
    left: 0;
    background-image: url(../img/fetured-pic-2fon.svg); }
  .fetured__item > a:nth-child(1):hover:before {
    display: block;
    opacity: .8; }

.fetured__item-title {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  font-family: 'Lato';
  line-height: 16px;
  padding: 25px 0 0 18px;
  margin: 0;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none; }
  .fetured__item-title:hover {
    opacity: .8;
    color: #F16D7F; }
  .fetured__item-title:active {
    opacity: .5; }

.fetured__item-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  font-family: 'Lato';
  line-height: 17px;
  padding: 12px 29px 0 18px;
  margin: 0;
  color: #5D5D5D; }

.fetured__item-price {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-family: 'Lato';
  line-height: 19px;
  padding: 18px 0 0 18px;
  color: #F16D7F;
  margin: 0; }

.fetured__button-browse-all-product {
  margin: 48px 0 96px 466px;
  width: 211px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FF6A6A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-family: 'Lato';
  line-height: 19px;
  outline: 1px solid #FF6A6A;
  text-decoration: none;
  padding-top: 15px;
  font-family: 'Lato';
  text-transform: capitalize; }
  .fetured__button-browse-all-product:hover {
    -webkit-box-shadow: 0 0 5px 2px #FF6A6A;
            box-shadow: 0 0 5px 2px #FF6A6A; }
  .fetured__button-browse-all-product:active {
    opacity: .5; }

.advantages {
  background-color: #222222;
  width: 1600px;
  margin: 0 auto; }
  .advantages .advantages__action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .advantages .advantages__picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 103px 0 0 0; }
    .advantages .advantages__picture:hover {
      opacity: .8; }
    .advantages .advantages__picture:active {
      opacity: .5; }
  .advantages .advantages__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 19px 0 0 0;
    color: #FBFBFB;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Lato';
    line-height: 24px;
    text-transform: capitalize;
    text-decoration: none; }
    .advantages .advantages__title:hover {
      opacity: .7; }
    .advantages .advantages__title:active {
      opacity: .5; }
  .advantages .advantages__descride {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 16px 0 104px 0;
    width: 300px;
    color: #FBFBFB;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Lato';
    line-height: 17px;
    text-decoration: none; }

.footer {
  background-color: #222222;
  width: 1600px;
  margin: 0 auto; }
  .footer .footer__picture {
    background-image: url(../img/footer-picture.jpg);
    min-height: 448px; }
  .footer .footer__picture-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none; }
    .footer .footer__picture-item .footer__picture-item-first {
      padding-top: 87px; }
    .footer .footer__picture-item .footer__picture-item-second {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-top: 150px; }
    .footer .footer__picture-item .footer__picture-item-second-subscribe {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      font-family: 'Lato';
      line-height: 38px;
      width: 551px;
      text-align: center;
      text-transform: uppercase; }
    .footer .footer__picture-item .footer__picture-item-second-for {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      font-family: 'Lato';
      line-height: 30px;
      width: 551px;
      text-align: center;
      text-transform: uppercase; }
  .footer .footer__picture-block-email {
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer input[type="text"] {
    width: 203px;
    height: 49px;
    background-color: #E1E1E1;
    border-radius: 23px 0 0 23px;
    vertical-align: middle;
    border: none;
    outline: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Lato';
    line-height: 16px;
    padding: 0 0 0 30px; }
  .footer:active {
    color: #F16D7F; }
  .footer input[type="submit"] {
    width: 123px;
    height: 49px;
    background-color: #F16D7F;
    border-radius: 0 23px 23px 0;
    vertical-align: middle;
    border: none;
    outline: none;
    padding: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Lato';
    line-height: 16px;
    color: #FFFFFF; }
    .footer input[type="submit"]:hover {
      color: #222222; }
  .footer .footer__last-line {
    min-height: 79px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none; }
    .footer .footer__last-line .footer__last-line-copyright {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      font-family: 'Lato';
      line-height: 19px;
      color: #FBFBFB; }
    .footer .footer__last-line .footer__last-line-img {
      border: none;
      outline: none;
      padding: 0 0 0 3px; }
    .footer .footer__last-line .footer__last-line-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .footer .footer__last-line .footer__last-line-img:hover {
      outline: 2px solid #F16D7F; }

.subheader {
  background-color: #F8F3F4;
  width: 1600px;
  margin: 0 auto; }
  .subheader .subheader__name {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Lato';
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
    height: 148px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .subheader .subheader__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 148px; }
  .subheader .subheader__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 211px; }
  .subheader .subheader__item-name {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Lato';
    line-height: 17px;
    color: #636363; }
  .subheader .subheader__item-name:hover {
    color: #F16D7F; }

.registration__field {
  background-color: #FFFFFF;
  width: 1600px;
  margin: 0 auto;
  padding: 64px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start; }
  .registration__field .registration__field-item {
    width: 365px; }
  .registration__field .registration__field-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Lato';
    line-height: 19px;
    color: #B1B1B1;
    padding: 0 0 20px 0;
    text-transform: capitalize; }
  .registration__field .registration__field-gender {
    margin: 33px 0 35px 0; }
  .registration__field input[type="text"] {
    width: 340px;
    height: 45px;
    background-color: #FFFFFF;
    vertical-align: middle;
    border: 1px solid #B1B1B1;
    outline: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Lato';
    line-height: 16px;
    padding: 0 0 0 16px;
    margin: 0 0 20px 0;
    display: block; }
  .registration__field input[type="email"] {
    width: 340px;
    height: 45px;
    background-color: #FFFFFF;
    vertical-align: middle;
    border: 1px solid #B1B1B1;
    outline: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Lato';
    line-height: 16px;
    padding: 0 0 0 16px;
    margin: 0 0 20px 0;
    display: block; }
  .registration__field input[type="password"] {
    width: 340px;
    height: 45px;
    background-color: #FFFFFF;
    vertical-align: middle;
    border: 1px solid #B1B1B1;
    outline: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Lato';
    line-height: 16px;
    padding: 0 0 0 16px;
    margin: 0 0 20px 0;
    display: block; }

.registration__label {
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  font-family: 'Lato';
  line-height: 13px;
  color: #000000; }

.registration__notation {
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  font-family: 'Lato';
  line-height: 16px;
  color: #222222;
  padding: 0 0 39px 0;
  width: 360px; }

.registration__submit {
  margin: 0 0 96px 0;
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  color: #FFFFFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: 'Lato';
  line-height: 17px;
  outline: none;
  text-align: center;
  border: none;
  outline: none;
  text-transform: uppercase; }
  .registration__submit:hover {
    color: #000000; }

.registration__field-discribe {
  width: 650px;
  padding: 0 0 0 128px; }
  .registration__field-discribe .registration__field-discribe-title {
    width: 650px;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Lato';
    line-height: 29px;
    color: #000000;
    text-transform: uppercase; }
  .registration__field-discribe .registration__field-discribe-subtitle {
    width: 650px;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Lato';
    line-height: 29px;
    color: #000000;
    padding: 22px 0 21px 0; }
  .registration__field-discribe .registration__field-discribe-list {
    list-style-image: url(../img/registration-check.jpg); }
  .registration__field-discribe .registration__field-discribe-perks {
    width: 650px;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Lato';
    line-height: 29px;
    color: #000000;
    padding: 0 0 16px 0; }

.filter {
  background-color: #FFFFFF;
  width: 1600px;
  margin: 0 auto; }
  .filter .filter__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 51px 0 16px 0; }
  .filter .filter__name {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    font-family: 'Lato';
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    display: block;
    padding: 0 11px 0 0; }
    .filter .filter__name:hover {
      color: #F16D7F; }
  .filter .filter__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 0 0 320px; }
  .filter .filter__item-name {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Lato';
    line-height: 17px;
    color: #636363; }
    .filter .filter__item-name:hover {
      color: #F16D7F; }
  .filter .filter__arrow {
    padding: 0 28px 0 0; }

.paggination {
  background-color: #FFFFFF;
  width: 1600px;
  height: 188px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .paggination .paggination__button {
    display: block;
    width: 284px;
    height: 44px;
    border: 1px solid #5D5D5D;
    outline: none;
    background-color: #FFFFFF; }

/*# sourceMappingURL=style.css.map */