.filter {
    background-color: $white-color;
    width: 1600px;
    margin: 0 auto;

    .filter__list {
        display: flex;
        justify-content: start;
        padding: 51px 0 8px 0;
    }

    .filter__menu {
        @include position(flex, flex-start, flex-start);
    }

    .filter__name {
        @include font(14px, 17px, 600, $black-color1);
        text-transform: uppercase;
        display: block;
        padding: 0 11px 0 0;

        &:hover {
            color: $pink-color;
        }
    }

    .filter__item {
        @include position(flex, center, space-between);
        padding: 0 0 0 290px;

        .filter__item-name {
            padding: 0 0 0 28px;
            text-decoration: none;
            text-transform: uppercase;
            @include font(14px, 17px, 300, $grey-color2);
            outline: none;

            &:hover {
                color: $pink-color;
            }
        }
    }
}

@media (max-width:$tablet-max) and (min-width:$tablet-min) {
    .filter {
        width: 100%;

        .filter__list {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 24px 0 10px 0;
        }

        .filter__item {
            padding: 0;
        }
    }
}

@media (max-width:$phone-max) and (min-width:$phone-min) {
    .filter {
        width: 100%;

        .filter__list {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 24px 0 10px 0;
        }

        .filter__item {
            padding: 0;
        }

        .filter__name {
            display: none;
        }

        .filter__lines {
            @include box-size(38px, 25px);
        }

        .filter__item-name {
            @include font(12px, 14px, 300, $grey-color2);
        }
    }
}