.footer {
    background-color:$black-color;
    width: 1600px;
    margin: 0 auto;
    .footer__picture {
        background-image: url(../img/footer-picture.jpg);
        min-height: 448px;
    }
    .footer__picture-item {
        @include flex-center-space-between();
        list-style-type: none;
        .footer__picture-item-first {
            padding-top: 87px;
        }
        
        .footer__picture-item-second {
            @include flex-center-space-between();
            flex-direction: column;
            padding-top: 150px;
        }
        
        .footer__picture-item-second-subscribe {
            @include font(24px,38px,700);
            width: 551px;
            text-align: center;
            text-transform: uppercase;
        }
        
        .footer__picture-item-second-for {
            @include font(18px,30px,400);
            width: 551px;
            text-align: center;
            text-transform: uppercase;
        }
    }
   
    
    .footer__picture-block-email {
        margin-top: 32px;
        display: flex;
    }
    
    input[type="text"] {
        width: 203px;
        height: 49px;
        background-color: #E1E1E1;
        border-radius: 23px 0 0 23px;
        vertical-align: middle;
        border: none;
        outline: none;
        @include font(14px,16px,700);
        padding: 0 0 0 30px;
    }
    &:active {
        color:$pink-color;
    }
    
    input[type="submit"] {
        width: 123px;
        height: 49px;
        background-color:$pink-color;
        border-radius: 0 23px 23px 0;
        vertical-align: middle;
        border: none;
        outline: none;
        padding: 0;
        @include font(14px,16px,400);
        color: $white-color;
        &:hover {
            color: $black-color;
        }
    }
      
    .footer__last-line {
        min-height: 79px;
        @include flex-center-space-between();
        list-style-type: none;
        .footer__last-line-copyright {
            @include font(16px,19px,400);
            color: #FBFBFB;
        }
        
        .footer__last-line-img {
            border: none;
            outline: none;
            padding: 0 0 0 3px;
        }
        
        .footer__last-line-icon {
            @include flex-center-space-between();
        }
        
        .footer__last-line-img:hover {
            outline: 2px solid #F16D7F;
        }
    }
    
}

