.header {
    background-color: $black-color;
    width: 1600px;
    margin: 0 auto;

    .header__container {
        min-height: 75px;
        @include flex-center-space-between ();
    }
    
    .header__search {
        margin: 10px 0 0 41px;
    }
    
    .header__button {
        background-color: transparent;
        border: none;
        &:hover,
        &:focus {
        opacity: .8;
        }
        &:active {
            opacity: .5;
        }
    }
        
    .header__menu-list,
    .header__logo-container {
        display: flex;
        align-items: center;
    }
    
    .header__menu-item:not(:last-of-type) {
        margin: 0 34px 0 0;
    }
}


