
.name {
    display: flex;
    width: 1600px;
    margin: 0 auto;

    .name__header-span-pink {
        @include font(32px,32px,700);
        color: $pink-color;
        }
    
    .name__header-span {
        @include font(32px,32px,700);
        color: $black-color;
        }
    
    .name__header {
        @include font(48px,48px,900);
        text-transform: uppercase;
        }
    
    .name__content {
        width: 570px;
        height: 430px;
        padding: 335px 0 0 64px;
        background-color: $pink-background;
        }
    
    .name__header {
        position: relative;
        padding: 0 0 0 28px;
        &::before {
            position: absolute;
            content: '';
            width: 12px;
            height: 100%;
            background-color: $pink-color;
            left: -12px;
        }
    }
    
      
    .name__nav {
        width: 228px;
        height: 728px;
        background-color: $white-color;
        padding: 37px 0 0 34px;
        .name__nav-menu {
            color: #000000;
            text-transform: uppercase;
            @include font(14px,17px,700);     
            &:hover {
                color:$pink-color;
            } 
        }
        
        .name__nav-list {
            padding: 14px 0 0 0;
        }
        
        .name__nav-title {
            padding: 20px 0 0 0;
        }
        
        .name__nav-title-link {
            color:$pink-color;
            text-transform: uppercase;
            @include font(14px,17px,400);  
            text-decoration: none;  
            &:hover {
                opacity: .3;
            }
            &:active {
                opacity: .5;
            }
        }
        
        .name__nav-submenu {
            padding: 0 0 0 21px;
        }
        
        .name__nav-item {
            padding: 11px 0 0 0;
        }
        
        .name__nav-item-link {
            color: #6F6E6E;
            @include font(14px,17px,300); 
            text-transform: capitalize;
            text-decoration: none;   
            &:hover {
                opacity: .8;
            }
            &:active {
                opacity: .5;
            }    
        }
               
    }
       
}


