.paggination {
    background-color: #FFFFFF;
    width: 1600px;
    height: 188px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .paggination__button {
        display: block;
        width: 284px;
        height: 44px;
        border: 1px solid #5D5D5D;
        outline: none;
        background-color: #FFFFFF;
        }
    }
   
  