.paggination {
    background-color: $white-color;
    @include box-size(1600px, 188px);
    @include position (flex, center, center);
    margin: 0 auto;
    .paggination__button {
        display: block;
        @include box-size(284px, 44px);
        border: 1px solid $grey-color1;
        outline: none;
        background-color: $white-color;
    }
}