.subheader {
    background-color: $white-color4;
    width: 1600px;
    margin: 0 auto;
    .subheader__name {
        @include font(24px, 29px, 400, $pink-color);
        text-transform: uppercase;
        min-height: 148px;
        display: flex;
        align-items: center;
    }
    .subheader__list {
        @include position(flex, center, space-between);
        min-height: 148px;
    }
    .subheader__item {
        @include position(flex, center, space-between);
        width: 211px;
    }
    .subheader__item-name {
        text-decoration: none;
        text-transform: uppercase;
        @include font(14px, 17px, 300, $grey-color3);
        outline: none;
    }
    .subheader__item-name:hover {
        color: $pink-color;
    }
}